<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}"> 
</head>
<body>
    
    <title>About Us</title>
<meta name="keywords" content="Books, recent, Learning, library">
<meta name="description" content="Books website">
<meta name="author" content="author name">

<link rel="icon" href="{% static 'images/QU.png' %}">
<meta charset="UTF-8">

</head>
<body>

<div class="topnav">
<a href="{% url 'books.index' %}">Home</a>
<a href="{% url 'books.list_books' %}">List Books</a>
<a class ="active" href="{% url 'books.aboutus' %}">About</a>
</div>

<h1>About us</h1>
<p>This is a paragraph text This is a paragraph text This is a paragraph text 
This is a paragraph text </p>
<p>To write to  <a href="mailto:email@domain.com">our store</a>, click the link 
and your default email client will open an email message and address it to us. </p>
</body>
</html>