{% extends "layouts/base.html" %} {% load static %}

{% block title %} My First Index HTML Page {% endblock title %}

{% block content %}
    <h1 style="color:rgb(0, 0, 0);"> This is INDEX (Library)</h1>
    <p style="color: rgb(0, 0, 0);background-color: rgb(135, 124, 124);"> This is a link to W3School </p>
    <a href="https://www.w3schools.com/html/default.asp">To W3SCHOOL!</a>
    <hr>
    
    <h2>This is heading 2</h2> 
    <p>This is some other text. <br> with newline <br> and another line</p>
    <hr>
    
    <h2>This is heading 2</h2>
    <p>This is some other text.</p>

{% endblock content %}