<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
    h1{
        color:green;
    }
    h2{
        color:lightskyblue;
    }
    p{
        font-family: verdana;
        font-size:20px;
    }
    </style>

<title>List of Books</title>
<meta name="keywords" content="Books, recent, Learning, library">
<meta name="description" content="Books website">
<meta name="author" content="author name">
<link rel="icon" href="{% static 'QU.png' %}">

<link rel="stylesheet" href="{% static 'CSS/style.css' %}">

<meta charset="UTF-8">
</head>
<body>

<div class="topnav">
<a href="{% url 'books.index' %}">Home</a>
<a class="active" href="{% url 'books.list_books' %}">List Books</a>
<a href="{% url 'books.aboutus' %}">About</a>
</div>

<h1>List of Books</h1>
<a href="{% url 'books.view_one_book' 1 %}"><h2>Internet & World Wide Web How to Program</h2></a>
<img src="{% static 'images/book1.jpg' %}" alt="Book1" width="200" height="200">
<hr>

<h2>2) C++ How to Program, Late Objects Version</h2>
<img src="{% static 'images/book2.jpg' %}" alt="Book2" width="200" height="200">
<hr>

<h2>3) Images in Another Folder</h2>
<img src="{% static 'images/book3.jpg' %}" alt="Book3" width="200" height="200">
<hr>
</body>
</html>