<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
<title>Show one Book</title>
<meta name="keywords" content="Books, recent, Learning, library">
<meta name="description" content="Books website">
<meta name="author" content="author name">

<link rel="icon" href="{% static 'images/QU.png' %}">
<meta charset="UTF-8">

</head>
<body>
<a href="{% url 'books.list_books' %}">Go Back</a>

<h1>Details of Book1</h1>
<h2>Internet & World Wide Web How to Program</h2>
<h2>Author: author name</h2>
<p><strong> Internet & World Wide Web How to Program, 5/e </strong> provides a 
clear, simple, engaging and entertaining introduction to Internet and web 
programming. It’s appropriate for both introductory and intermediate-level client
side and server-side programming courses.</p>

<img src="{% static 'images/book1.jpg' %}" alt="Book1 img desc" width="200" height="200">
</body>
</html>